<h1 class="giant-title text-left page-width ">Contact Us</h1>

<div class="container contact-page__container">

  
    <div class="page-width row">
      <div class="grid">
        <div class="grid__item one-half small-down--one-whole">
  

    <div class="rte  clearfix">
      <meta charset="utf-8">
<p>We welcome your comments and suggestions. Feel free to call or send us an email, and we'll try our best to get back to you within the same business day.</p>
<h4><strong>Business Hours:</strong></h4>
<p>Monday - Friday 8:00AM - 10:00PM CST</p>
<h4><strong>Mailing Address:</strong></h4>
<p>Dog Daycare<br>12345 MadeUp Dr <br>Houston, CA 91754</p>
<h4><strong>Email Contacts:</strong></h4>
<p>General: <a href="mailto:inquiry@dogdaycare.com" target="_blank" rel="noopener noreferrer">inquiry@dogdaycare.com</a></p>

<p> </p>
<p> </p>
    </div>

  </div>
